{% extends 'base.html.twig' %}

{% block title %}Nueva Noticia -
	{{ parent() }}
{% endblock %}

{% block contenido %}
	<h1 class="text-center -p-3">Crear nueva noticia</h1>

	{{ include('noticia/_form.html.twig') }}

	<a href="{{ path('noticias') }}" class="text-center">Volver a las noticias</a>
{% endblock %}
