{# templates/tienda.html.twig #}

{# Panta estática para tienda futura #}

{% extends "base.html.twig" %}

	{% block contenido %}
		<h1 class="text-center p-2"> Tienda</h1>
	<div class="container text-center p-3">
		<img src="{{asset('images/tienda.jpg')}}" alt="error" class="error_img rounded img-fluid">

	</div>
{% endblock %}
